.Main {
  text-align: center;
  letter-spacing: 0.8px;
}
/* 대문 사진 */
.main-bg {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url('./img/bg-main.png');
  background-size: contain;
  background-position: center;
  margin-bottom: 30px;
}